<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskToAction</title>
  <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<body>
  <div class="container">
    <h1 class="animated-heading">Welcome to TaskToAction</h1>
    <div class="buttons">
      <a href  = "/login"><button class="btn login-btn">Login</button></a>
      <a href = "/register"><button class="btn register-btn">Register</button></a>
      <a href = "/logout"><button id = "log" class="btn register-btn">Logout</button></a>
      <a href = "/task"><button class="btn add-task-btn">Add Task</button></a>

    </div>
  </div>
  <script src="/javascripts/homepage.js"></script>
</body>
</html>